@import "../../variables.scss";


.options {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .buttons {
        display: flex;
        align-items: center;
        margin-top: 1rem;

        p {
            padding: 1rem;
            margin: 0;
        }
    }
}