.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;

    .input {
        input {
            text-align: center !important;
        }

        input::placeholder {
            text-align: center !important;
        }
    }
}

.searchButton {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
}