@import "../../../../styles/variables.scss";

.book {
    cursor: pointer;
    width: 10rem;

    p {
        font-weight: 500;
        font-family: $heading-font;
        margin: 0;
        margin-top: 0.75rem;
    }

    small {
        margin: 0;
        font-size: 0.8rem;
        color: $grey;
        font-weight: 400;
    }

    .image {
        -webkit-box-shadow: 10px 10px 48px -23px rgba(6, 7, 13, 0.59);
        -moz-box-shadow: 10px 10px 48px -23px rgba(6, 7, 13, 0.59);
        box-shadow: 10px 10px 48px -23px rgba(6, 7, 13, 0.59);

        img {
            object-fit: contain;
            object-position: center center;
            min-height: 100%;
            min-width: 100%;
        }
    }
}