@import "../../../../styles/variables.scss";

.book {
    cursor: pointer;

    p {
        font-weight: 500;
        font-family: $heading-font;
        margin: 0;
        margin-top: 0.75rem;
    }

    small {
        margin: 0;
        font-size: 0.8rem;
        color: $grey;
        font-weight: 400;
    }
}